# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*$py.class

*.so
*.pyd
*.pyo

# Entorns virtuals
.venv/
venv/
env/
ENV/

# Distribucions
build/
dist/
*.egg-info/

# =====================================================
# Editors / IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# Sistema operatiu
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# Logs
# =====================================================

*.log

# =====================================================
# Dades locals del projecte (NO publicar)
# =====================================================

data/correccions.json
data/repos_map.json

# possible futur
data/cache/
data/repos/

# Possible carpeta que conté els repos dels alumnes
repos/


# =====================================================
# Fitxers temporals
# =====================================================

*.tmp
*.temp
*.bak

# =====================================================
# Altres
# =====================================================

*.swp
*.swo

# =====================================================
# Contextos que no pugen al repo remot
# =====================================================
contextos/

# dades locals de correcció
data/corrections.json